/* #region ------------------------------------ ROOT VARIABLES  ------------------------------------ */

:root {
    --black: #000000; 
    --white: #ffffff;
    --light-white: #F1F0ED; 
    --middle-grey: #888888;
    --light-grey: #D0D0D0;
    
    /* --native-one: #01AF5A;
    --native-two: #C9E518;
    --native-three: #EBEE6D;
    --native-four: #6AFBA4;
    --native-five: #5DD8B3;
    --native-six: #00CF08; 

    --non-one: #315B51;
    --non-two: #4C7345;
    --non-three: #758C6A;
    --non-four: #758C6A;  */

    --red-maple: #2C4A43; 
    --river-birch: #005E2B;
    --honeylocust: #143514; 
    --kentucky-coffeetree: #428400;
    --sweetgum: #52762F;
    --tulip-poplar: #1D6249;
    --blackgum: #415C1E;
    --sawtooth-oak: #3D4A08; 
    --swamp-white-oak: #325F1E;
    --scarlet: #70903C; 
    --shingle-oak: #4C7345; 
    --bur-oak: #327B10;
    --willow-oak: #004006;
    --american-linden: #697A02;
    --littleleaf-linden: #3F4420; 
    --silver-linden: #707649; 
    --american-elm: #758C6A; 
    --american-hornbeam: #394026; 
    --black-oak: #21590D; 
    --schumard-oak: #145033;
    --bald-cypress: #293A18; 
    --pin-oak: #2B4D32;




    --turkish-hazelnut: #2ADB31;
    --hardy-rubber-tree: #B3ED39;
    --european-beech: #D5F21F;
    --ginkgo: #ACEB44;
    --london-planetree: #02E34F;
    --sophora: #00CE78; 
    --chinese-elm: #0AFA5C;
    --japanese-zelkova: #0CF090;
    --red-horse-chestnut: #DBFF00;
    --european-hornbeam: #80FF00;
    --japanese-hornbeam: #00FFA3;
    --kentucky-yellowwood: #6AFBA4;
    --golden-raintree: #5DD8B3;
    --amur-maackia: #00CF08;
    --persian-ironwood: #C9E518;
    --hedge-maple: #EBEE6D;
    --amur-maple: #01AF5A;
    --paperbark-maple: #00FF19;
    --tartar-maple: #20E0A6;
    --shantung-maple: #20E084;
    --serviceberry: #6BEE90;
    --oklahoma-redbud: #B3ECB2;
    --chinese-fringetree: #76DAA4;
    --kousa-dogwood: #5CE05A;
    --cornelian-cherry: #00FF75;
    --cockspur-hawthorn: #91FF8E;
    --crab-apple: #B0FF62;
    --purple-leaf-plum: #93FF26;
    --japanese-tree-lilac: #D8FAA0;
    --chinese-tree-lilac: #CDFF7A; 
    --callery-pear: #14B87D; 
    --norway-maple: #00C766; 
    --sycamore-maple: #CFF16F;
    
    --european-alder: #B5DF3C;
    --black-locust: #D8DC2C;
    --catalpa: #C7E8DC;
    --atlas-cedar: #FFE600;
    --atlantic-white-cedar: #FFF500;
    --himalayan-cedar: #B4E9CF;
    --corktree: #CEF6DC;
    --eastern-cottonwood: #ECFFB5;
    --dawn-redwood: #66F40F;
    --siberian-elm: #02DC59;
    --chinese-elm: #C3FF43;
    --empress-tree: #C4EB71;
    --eastern-hemlock: #4FCB79;
    --japanese-snowbell: #4FCB97;
    --katsura: #60CB4F;
    --southern-magnolia: #8DCB4F;
    --osage-orange: #9FE25B;
    --scots-pine:  #E3FD7D;
    --black-pine: #7DFDCF;
    --silverbell: #60B596;
    --norway-spruce: #1CBDA0;
    --blue-spruce: #3AB600;
    --heaven: #00B649;

    --ash: #2B8F41;
    --green-ash: #087B21;
    --white-ash: #3B7A49;
    --chokecherry: #7B903C;
    --douglas-fir: #1A473C;
    --eastern-redcedar: #85947F;
    --american-elm: #76815E;
    --hickory: #195640;
    --holly: #8C9F13;
    --american-larch: #729F13;
    --magnolia: #64980F;
    --cucumber-magnolia: #7F920C;
    --mulberry: #48622E;
    --padogda-dogwood: #678847;
    --white-pine: #81B480;
    --red-pine: #98B054;
    --spruce: #959025;
    --walnut: #A9A655;






    --header-text-size: 24px;
    --filter-text-size: 18px;
    --body-text-size: 16px;
}

/* #endregion */


/* #region ------------------------------------ SITWIDE BASICS ------------------------------------ */

body {
    width: 90vw;
    margin: 0 auto;
    background-color: var(--light-white);
    
    
}
/* #endregion */


/* #region ------------------------------------ TYPOGRAPHY ------------------------------------  */



.header { 
/* font-family: shift, serif;
font-weight: 100; */

font-family: lores-21-serif, sans-serif;
font-weight: 400;
font-style: normal;
font-size: var(--header-text-size);

color: var(--middle-grey);
}

.header:hover { 
    /* font-family: shift, serif;
    font-weight: 100; */
    font-family: lores-21-serif, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--header-text-size);
    color: var(--black);
    cursor: pointer;
}

.header-italic { 
/* font-family: shift, serif;
font-weight: 100; */

font-family: lores-21-serif, sans-serif;
font-weight: 400;
font-style: normal;
/* font-style: italic; */
font-size: var(--header-text-size);
}

.filter-text { 
/* font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 500;
font-style: normal; */

font-family: lores-21-serif, sans-serif;
font-weight: 400;
letter-spacing: .02em;
font-size: var(--filter-text-size);
}

.body-text { 
font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 500;
font-style: normal;
letter-spacing: .02em;
font-size: var(--body-text-size);
}

span {
    color: var(--middle-grey);
}

.underline {
    text-decoration: underline black .1em;
}




/* #endregion */


/* #region ------------------------------------ GENERAL STYLES ------------------------------------ */

.site-nav { 
    margin: 2.5em 0em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.filter-bar { 
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 

}

.flex-btn { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.all-filters { 
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

}

/* #endregion */


/* #region --------------------------------- FILTER BUTTONS AND HOVER ---------------------------------*/

.info-btn { 
    padding: .35em .75em;
    background-color: var(--light-white);
    border: var(--light-white) solid .075em;
    border-radius: .5em;
    width: max-content;
}

.filter-btn { 
    margin: 0 .35em;
    padding: .35em .75em;
    background-color: var(--light-white);
    border: black solid .075em;
    border-radius: .5em;
    width: max-content;

    transition: ease-in-out .25s
}

.filter-btn:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}






/* #region OLD FILTER CSS PROPERTIES */


/* .info-btn { 
    padding: .35em .75em;
    background-color: var(--light-white);
    border: var(--light-white) solid .075em;
    border-radius: .5em;
    width: max-content;
}

.filter-btn { 
    margin: 0 .35em;
    padding: .35em .75em;
    background-color: var(--light-white);
    border: black solid .075em;
    border-radius: .5em;
    width: max-content;

    transition-duration: .15s, .15s;
	transition-property: background-color, transform;
	transition-timing-function: linear, ease-in-out;
	will-change: transform;
}

.filter-active-btn { 
    margin: 0 .35em;
    padding: .35em .75em;
    background-color: var(--light-grey);
    border-radius: .5em;
    width: max-content;
    
}


.native-filter-btn {
    margin: 0 .35em;
    padding: .35em .75em;
    border: black solid .075em;
    border-radius: .5em;
    width: max-content;
    background-color: var(--light-white);

    transition-duration: .15s, .15s;
	transition-property: background-color, transform;
	transition-timing-function: linear, ease-in-out;
	will-change: transform;
}

.non-filter-btn { 
    margin: 0 .35em;
    padding: .35em .75em;
    border: black solid .075em;
    border-radius: .5em;
    width: max-content;
    background-color: var(--light-white);

    transition-duration: .15s, .15s;
	transition-property: background-color, transform;
	transition-timing-function: linear, ease-in-out;
	will-change: transform;
}

.filter-btn:hover  .filter-active-btn:hover { 
    border: var(--light-white) solid .075em;
    background-color: var(--light-grey);
    cursor: pointer;
}

.native-filter-btn:hover { 
    border: var(--light-white) solid .075em;
    background-color: var(--non-three);
    cursor: pointer;
}

.non-filter-btn:hover { 
    border: var(--light-white) solid .075em;
    background-color: var(--native-one);
    cursor: pointer;
} */
/* #endregion */


/* #endregion */

/* #region KEY LEGEND STYLING */

/* .key-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7.5em;
} */

.key-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    margin-top: 7.5em;
}


/* #key-text {
    width: 33%;
} */


.sub-filters-flex {
    display: flex;
    justify-self: center;
}

.sub-filter {
    
    padding: 0 .5em;
    /* background-color: var(--light-white);
    border: black solid .075em; */
    border-radius: .5em;
    width: max-content;
    transition: ease-in-out .25s;
}

.sub-filter:hover {
    /* background-color: var(--light-grey); */
    
    text-decoration: underline .1em var(--black);
    cursor: pointer;
}

#key {
    justify-self: end;
}

/* #endregion */

/* #region ------------------------------------ VISUALISATION STYLING ------------------------------------ */

/* #container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;

}

.viz-container { 
    display: flex;
    flex-direction: column;
    width: 44.5vw;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: .45em;
    background-color: var(--light-white);

} */

#container { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 1em;

}



.viz-container { 
    display: flex;
    flex-direction: column;

    margin-top: 2em;
    margin-bottom: 2em;
 
    background-color: var(--light-white);

}

.viz-container:hover {
    cursor: zoom-in;
}

.info-block { 
    overflow: hidden;
    height: 0;
    transition: height .45s ease-in-out ;
    
}


.info-block-active { 
    overflow: hidden;
}

.info-flex {
    
    flex-direction: row;
    padding: .5em 0em;
    
    gap: .5em;
    display: flex;
    position: static;
    
    
}

.info-img {
    /* background-color: grey; */
    width: 30%;
    padding: .5em;
    border-radius: .25em;
}

.info-container { 
    width: 40%;
    padding: 0 .5em .5em .75em;
    align-self: center;
}

.tree-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: .25em;
    /* max-width: 42.5vw;
    margin: .45em .1em; */
    position: static;
    transition: transform .25s ease-out ;
}

.tiny-box {
    display: inline-block;
    padding: .5em;
    margin: .025em;
}


/* #city-grid-flex {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    
} */

/* #endregion */


/* #region ------------------------------------  TREE SPECIES COLORS ------------------------------------*/



.pin-oak {
    background-color: var(--pin-oak);
}

.red-maple {
    background-color: var(--red-maple);
}

.norway-maple {
    background-color: var(--norway-maple);
}

.honeylocust {
    background-color: var(--honeylocust);
}

.american-linden {
    background-color: var(--american-linden);
}

.london-planetree {
    background-color: var(--london-planetree);
}

.ginkgo {
    background-color: var(--ginkgo);
}

.river-birch {
    background-color: var(--river-birch);
}

.turkish-hazelnut {
    background-color: var(--turkish-hazelnut);
}

.hardy-rubber-tree {
    background-color: var(--hardy-rubber-tree);
}

.european-beech {
    background-color: var(--european-beech);
}

.kentucky-coffeetree {
    background-color: var(--kentucky-coffeetree);
}

.sweetgum {
    background-color: var(--sweetgum);
}

.blackgum {
    background-color: var(--blackgum);
}

.sawtooth-oak {
    background-color: var(--sawtooth-oak);
}

.swamp-white-oak {
    background-color: var(--swamp-white-oak);
}

.scarlet {
    background-color: var(--scarlet);
}

.shingle-oak {
    background-color: var(--shingle-oak);
}

.bur-oak {
    background-color: var(--bur-oak);
}

.willow-oak {
    background-color: var(--willow-oak);
}

.schmuard-oak {
    background-color: var(--schumard-oak);
}

.black-oak {
    background-color: var(--black-oak);
}

.sophora {
    background-color: var(--sophora);
}

.bald-cypress {
    background-color: var(--bald-cypress);
}

.littleleaf-linden {
    background-color: var(--littleleaf-linden);
}

.silver-linden {
    background-color: var(--silver-linden);
}

.american-elm {
    background-color: var(--american-elm);
}

.chinese-elm {
    background-color: var(--chinese-elm);
}

.japanese-zelkova {
    background-color: var(--japanese-zelkova);
}

.red-horse-chestnut {
    background-color: var(--red-horse-chestnut);
}

.european-hornbeam {
    background-color: var(--european-hornbeam);
}

.american-hornbeam {
    background-color: var(--american-hornbeam);
}

.japanese-hornbeam {
    background-color: var(--japanese-hornbeam);
}

.kentucky-yellowwood {
    background-color: var(--kentucky-yellowwood);
}

.golden-raintree {
    background-color: var(--golden-raintree);
}

.amur-maackia {
    background-color: var(--amur-maackia);
}

.persian-ironwood {
    background-color: var(--persian-ironwood);
}

.hedge-maple {
    background-color: var(--hedge-maple);
}

.amur-maple {
    background-color: var(--amur-maple);
}

.paperbark-maple {
    background-color: var(--paperbark-maple);
}

.tartar-maple {
    background-color: var(--tartar-maple);
}

.shantung-maple {
    background-color: var(--shantung-maple);
}

.serviceberry {
    background-color: var(--serviceberry);
}

.oklahoma-redbud {
    background-color: var(--oklahoma-redbud);
}

.chinese-fringetree {
    background-color: var(--chinese-fringetree);
}

.kousa-dogwood {
    background-color: var(--kousa-dogwood);
}

.cornelian-cherry {
    background-color: var(--cornelian-cherry);
}

.cockspur-hawthorn {
    background-color: var(--cockspur-hawthorn);
}

.crab-apple {
    background-color: var(--crab-apple);
}

.purple-leaf-plum {
    background-color: var(--purple-leaf-plum);
}

.japanese-tree-lilac {
    background-color: var(--japanese-tree-lilac);
}

.chinese-tree-lilac {
    background-color: var(--chinese-tree-lilac);
}

.callery-pear {
    background-color: var(--callery-pear);
}

.tulip-poplar {
    background-color: var(--tulip-poplar);
}

.sycamore-maple {
    background-color: var(--sycamore-maple);
}


.european-alder {
    background-color: var(--european-alder);
}

.ash {
    background-color: var(--ash);
}

.green-ash {
    background-color: var(--green-ash);
}

.white-ash {
    background-color: var(--white-ash);
}

.black-locust {
    background-color: var(--black-locust);
}

.catalpa {
    background-color: var(--catalpa);
}

.atlantic-white-cedar {
    background-color: var(--atlantic-white-cedar);
}

.atlas-cedar {
    background-color: var(--atlas-cedar);
}

.himalayan-cedar {
    background-color: var(--himalayan-cedar);
}

.chokecherry {
    background-color: var(--chokecherry);
}

.amur-cork-tree {
    background-color: var(--corktree);
}

.eastern-cottonwood {
    background-color: var(--eastern-cottonwood);
}

.dawn-redwood {
    background-color: var(--dawn-redwood);
}

.douglas-fir {
    background-color: var(--douglas-fir);
}

.eastern-redcedar {
    background-color: var(--eastern-redcedar);
}

.american-elm { 
    background-color: var(--american-elm);
}

.chinese-elm { 
    background-color: var(--chinese-elm);
}

.siberian-elm { 
    background-color: var(--siberian-elm);
}

.empress-tree {
    background-color: var(--empress-tree);
}

.eastern-hemlock {
    background-color: var(--eastern-hemlock);
}

.holly { 
    background-color: var(--holly);
}

.japanese-snowbell {
    background-color: var(--japanese-snowbell);
}

.katsura-tree {
    background-color: var(--katsura);
}

.american-larch {
    background-color: var(--american-larch);
}

.magnolia {
    background-color: var(--magnolia);
}

.southern-magnolia {
    background-color: var(--southern-magnolia);
}

.cucumber-magnolia {
    background-color: var(--cucumber-magnolia);
}

.mulberry {
    background-color: var(--mulberry);
}

.osage-orange {
    background-color: var(--osage-orange);
}

.pagoda-dogwood {
    background-color: var(--padogda-dogwood);
}

.white-pine {
    background-color: var(--white-pine)
}

.red-pine {
    background-color: var(--red-pine);
}

.scots-pine { 
    background-color: var(--scots-pine);
}

.black-pine {
    background-color: var(--black-pine);
}

.silverbell {
    background-color: var(--silverbell);
}

.spruce { 
    background-color: var(--spruce);
}

.norway-spruce { 
    background-color: var(--norway-spruce);
}

.blue-spruce {
    background-color: var(--blue-spruce);
}

.tree-of-heaven {
    background-color: var(--heaven);
}

.black-walnut {
    background-color: var(--walnut);
}



/* #endregion */


/* #region ------------------------------------ ABOUT PAGE PROPERTIES ------------------------------------ */ 

#aboutContainer { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#leftSidebar { 
    width: 30%;
}

#rightSidebar { 
    width: 45%;
}


/* #endregion */


/* #region  SMOOTH SCROLL ANIMATION */

/* .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .75s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  } */


/* #endregion */

/* #region ------------------------------------ MEDIA QUERIES ------------------------------------ */



@media (max-width: 768px) {

    :root {
        --header-text-size: 20px;
        --filter-text-size: 18px;
        --body-text-size: 18px;
    }

    body { 
        width: 85vw;
        margin: 0 auto;
    }

    /* GENERAL STYLES */

    .site-nav { 
        margin: .75em 0em;
    }

    .filter-bar { 
        position: fixed;
        bottom: 1em;
        /* left: 20vw; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
    
    }

    .flex-btn { 
        margin-bottom: .5em;
    }

    .viz-container { 
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-right: 0;
        background-color: var(--light-white);
    
    }

    .key-flex {
        display: flex;
        flex-direction: column;

    }

    #aboutContainer { 
        display: flex;
        flex-direction: column-reverse;
        
    }
    
    #leftSidebar { 
        width: 100%;
    }
    
    #rightSidebar { 
        width: 100%;
    }
    

}











@media (max-width: 400px) {

    :root {
        --header-text-size: 20px;
        --filter-text-size: 18px;
        --body-text-size: 18px;
    }

    body { 
        width: 85vw;
        margin: 0 auto;
    }

    /* GENERAL STYLES */

    .site-nav { 
        margin: .75em 0em;
    }

    .filter-bar { 
        position: fixed;
        bottom: 1em;
        /* left: 5vw; */
        display: flex;
        flex-direction: column;
        justify-content: center; 
    
    }

    .viz-container { 
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-right: 0;
        background-color: var(--light-white);
    
    }

    .key-flex {
        display: flex;
        flex-direction: column;

    }

    #aboutContainer { 
        display: flex;
        flex-direction: column-reverse;
        
    }
    
    #leftSidebar { 
        width: 100%;
    }
    
    #rightSidebar { 
        width: 100%;
    }
    


}


/* #endregion */